{% ckan_extends %}
{% block htmltag %}
  {% set lang = h.lang() %}
  <!--[if IE 9]> <html lang="{{ lang }}" class="ie9 isie"> <![endif]-->
  <!--[if gt IE 8]><!--> <html lang="{{ lang }}" class="isie"> <!--<![endif]-->
{% endblock htmltag %}
{% block styles %}
  {{ super() }}
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
  {% resource 'defra/css/defra.css' %}
{% endblock %}
{% block scripts %}
  {{ super() }}
  {% resource 'defra/js/defra.js' %}
  {% resource 'defra-libs/bootstrap3-typeahead.js' %}
{% endblock scripts %}
