{% ckan_extends %}

{% block header_site_navigation_tabs %}
{% endblock %}

{% block header_site_search %}
{% endblock %}

{% block header_account_container_content %}
  {% set protoC = 'ckanext.defra.controllers.prototype:PrototypeController' %}
  {% set reportC = 'ckanext.report.controllers:ReportController' %}

  <a href="/dataset" class="main-nav-link {% if c.controller != protoC and c.controller != reportC %}active{% endif %}">Data</a>
  <a href="/collection" class="main-nav-link {% if c.controller == protoC %}active{% endif %}">Collections</a>
  <a href="/report" class="main-nav-link {% if c.controller == reportC %}active{% endif %}">Reports</a>

  {{ super() }}
{% endblock %}

{% block header_logo %}
  <a style="float:left; margin-top: 20px;" class="logo" href="{{ h.url_for('home.index') }}">
    <img src="/images/defra.png" width="160" alt="{{ g.site_title }}" title="{{ g.site_title }}" />
  </a>

  <div style="min-height: 80px; height: 80px;" class="site-title">
    <h1 style="padding-top: 55px; font-size: 40px;">Defra Data</h1>
  </div>
{% endblock %}


{% block header_account_notlogged %}
  {% link_for _('Log in'), named_route='user.login' %} | {% link_for _('Register'), named_route='user.register', class_='sub' %}
{% endblock %}
