{% ckan_extends %}

{% block resource_item_title %}
  <a class="heading resource-expand" title="{{ h.get_resource_name(res) }}">
    <i class="pull-right fa fa-chevron-right chevron" aria-hidden="true"></i>
    {{ h.get_resource_name(res) | truncate(100) }}<span class="format-label" property="dc:format" data-format="{{ res.format.lower() or 'data' }}">{{ h.get_translated(res, 'format') }}</span>
  </a>
{% endblock %}

{% block resource_item_description %}
    <p class="description">
      {% if res.description and h.get_resource_name(res) != res.description %}
        {{ h.markdown_extract(h.get_translated(res, 'description'), extract_length=80) }}
      {% endif %}
    </p>
{% endblock %}

{% block resource_item_explore %}

<div class="resource-expando">
  <section class="module" style="padding-top: 20px;">
    {% if not url_is_edit %}
    <div class="resource-action-buttons">
      <ul class="list-inline">
        {% block resource_item_explore_links %}
          {% if res.has_views %}
            <li>
                <a href="{{ url }}" class="btn btn-primary">
                  <i class="fa fa-eye"></i>
                  {{ _('Preview') }}
                </a>
            </li>
          {% endif %}

          {% if res.url and h.is_url(res.url) %}
            <li>
              <a href="{{ res.url }}" class="resource-url-analytics btn btn-primary" target="_blank">
                {% if res.has_views or res.url_type == 'upload' %}
                  <i class="fa fa-arrow-circle-o-down"></i>
                  {{ _('Download') }}
                {% else %}
                  <i class="fa fa-external-link"></i>
                  {{ _('Go to resource') }}
                {% endif %}
              </a>
            </li>
          {% endif %}

          {% if can_edit %}
            <li>
              <a class="btn btn-primary" href="{{ h.url_for(controller='package', action='resource_edit', id=pkg.name, resource_id=res.id) }}">
                <i class="fa fa-pencil-square-o"></i>
                {{ _('Edit') }}
              </a>
            </li>
            {% endif %}
          {% endblock %}
        </ul>
      </div>
      {% endif %}

    <table class="table">
      <thead>
        <tr>
          <th scope="col">{{ _('Field') }}</th>
          <th scope="col">{{ _('Value') }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">{{ _('Data last updated') }}</th>
          <td>{{ h.render_datetime(res.last_modified) or h.render_datetime(res.created) or _('unknown') }}</td>
        </tr>
        <tr>
          <th scope="row">{{ _('Metadata last updated') }}</th>
          <td>{{ h.render_datetime(res.revision_timestamp) or h.render_datetime(res.created) or _('unknown') }}</td>
        </tr>
        <tr>
          <th scope="row">{{ _('Created') }}</th>
          <td>{{ h.render_datetime(res.created) or _('unknown') }}</td>
        </tr>
        <tr>
          <th scope="row">{{ _('Format') }}</th>
          <td>{{ res.mimetype_inner or res.mimetype or res.format or _('unknown') }}</td>
        </tr>
        <tr>
          <th scope="row">{{ _('License') }}</th>
          <td>{% snippet "snippets/license.html", pkg_dict=pkg, text_only=True %}</td>
        </tr>
        {% for key, value in h.format_resource_items(res.items()) %}
          {% if key not in ["revision id", "package id", "state", "id", "created", "has views", "position", "format"] %}
          <tr><th scope="row">{{ key }}</th><td>{{ value }}</td></tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </section>
</div>

{% endblock %}
