{% ckan_extends %}

{% block resource_item_title %}
  <a class="heading resource-expand" title="{{ h.get_resource_name(res) }}">
    <i class="pull-left fa fa-chevron-right chevron" aria-hidden="true" style="margin-top: 4px;"></i>
    {{ h.get_resource_name(res) | truncate(100) }}
  </a>
  <span class="subheading">Data type: {{ res.format }}</span>
{% endblock %}

{% block resource_item_description %}
    <p class="description">
      {% if res.description and h.get_resource_name(res) != res.description %}
        {{ h.markdown_extract(h.get_translated(res, 'description'), extract_length=80) }}
      {% endif %}
    </p>
{% endblock %}

{% block resource_item_explore %}

<div class="resource-expando">
  <section class="module" style="padding-top: 20px; padding-left: 12px; border-left: solid 4px #eee;">
    {% if not url_is_edit %}
    <div class="resource-action-buttons">
      <ul class="list-inline">
        {% block resource_item_explore_links %}
          {% if res.has_views %}
            <li>
                <a href="{{ url }}" class="resource-link">
                  {{ _('Preview') }}
                </a>
            </li>
          {% endif %}

          {% if res.url and h.is_url(res.url) %}
            <li>
              <a href="{{ res.url }}" class="resource-link resource-url-analytics" target="_blank">
                {% if res.has_views or res.url_type == 'upload' %}
                  {{ _('Download') }}
                {% else %}
                  {{ _('Go to resource') }}
                {% endif %}
              </a>
            </li>
          {% endif %}

          {% if can_edit %}
            <li>
              <a class="resource-link xbtn xbtn-primary" href="{{ h.url_for(controller='package', action='resource_edit', id=pkg.name, resource_id=res.id) }}">
                {{ _('Edit') }}
              </a>
            </li>
            {% endif %}
          {% endblock %}
        </ul>
      </div>
      {% endif %}

    <table class="resource-table" cellpaddding="10" cellspacing="10" width="100%" >
      <tbody>
        <tr>
          <th scope="row">{{ _('Data last updated') }}</th>
          <td>{{ h.render_datetime(res.last_modified) or h.render_datetime(res.created) or _('unknown') }}</td>
        </tr>
        <tr>
          <th scope="row">{{ _('Metadata last updated') }}</th>
          <td>{{ h.render_datetime(res.revision_timestamp) or h.render_datetime(res.created) or _('unknown') }}</td>
        </tr>
        <tr>
          <th scope="row">{{ _('Created') }}</th>
          <td>{{ h.render_datetime(res.created) or _('unknown') }}</td>
        </tr>
        <tr>
          <th scope="row">{{ _('Format') }}</th>
          <td>{{ res.mimetype_inner or res.mimetype or res.format or _('unknown') }}</td>
        </tr>
        <tr>
          <th scope="row">{{ _('License') }}</th>
          <td>{% snippet "snippets/license.html", pkg_dict=pkg, text_only=True %}</td>
        </tr>
        {% for key, value in h.format_resource_items(res.items()) %}
          {% if key not in ["revision id", "package id", "state", "id", "created", "has views", "position", "format"] %}
          <tr><th scope="row">{{ key }}</th><td>{{ value }}</td></tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </section>
</div>

{% endblock %}
