{% extends "/package/read_base.html" %}


{% set pkg = c.pkg_dict %}

{% block primary_content_inner %}
  {% block package_description %}
    {% if pkg.private %}
      <span class="dataset-private label label-inverse pull-right">
        <i class="fa fa-lock"></i>
        {{ _('Private') }}
      </span>
    {% endif %}
    <h1>
        {{ pkg.title }}
    </h1>

    <ul class="nav nav-tabs">
        <li><a href="/dataset/{{c.pkg_dict.name}}">Dataset</a></li>
        <li class="active"><a href="">More like this</a></li>
        <li><a href="{{ h.url_for('dataset_activity', id=pkg.name) }}">Activity</a></li>
    </ul>


    <div class="dataset-tab-container">
        {% set more_datasets = h.more_like_this(c.pkg_dict) %}
        <ul class="dataset-list list-unstyled" style="margin-top: 20px;">
        {% for dataset in more_datasets %}
            {{ h.snippet('snippets/package_item.html', package=dataset.as_dict(), show_resources=False) }}
        {% endfor %}
        </ul>
    </div>

  {% endblock %}

    </div>
  {% endblock %}