{% ckan_extends %}


{% set pkg = c.pkg_dict %}

{% block primary_content_inner %}
  {% block package_description %}
    {% if pkg.private %}
      <span class="dataset-private label label-inverse pull-right">
        <i class="fa fa-lock"></i>
        {{ _('Private') }}
      </span>
    {% endif %}
    <h1>
        {% set org = h.get_organization(pkg.organization.name) %}
        <div class="pull-right normal">
            {% if org.image_url %}
                <img class="side-image" src="{{ org.image_url }}"><br/>
            {% endif %}
            Published by
            <a href="/publisher/{{org.name}}">{{ org.title }}</a>
        </div>
        {{ pkg.title }}
    </h1>
    {% block package_notes %}
        {% if pkg.notes %}
        <div class="notes embedded-content">
            {{ h.render_markdown(h.get_translated(pkg, 'notes')) }}
        </div>
        {% endif %}

        {% set release_notes = h.release_notes(pkg) %}
        {% if release_notes %}
            <h3>Release notes</h3>
            <div class="notes embedded-content">
            {{ release_notes }}
            </div>
        {% endif %}

        {% set access_constraints = h.access_constraints(pkg) %}
        {% if access_constraints %}
            <h3>Access constraints</h3>
            <div class="notes embedded-content">
            {{ h.linked_access_constraints(access_constraints)|safe }}
            </div>
        {% endif %}
    {% endblock %}
  {% endblock %}

  {% block package_resources %}
    <div style="clear: both;">&nbsp;</div>
    {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources %}
  {% endblock %}

  {% block package_tags %}
  {% endblock %}

  {% block package_additional_info %}
    {% snippet "package/snippets/additional_info.html", pkg_dict=pkg %}
  {% endblock %}

  {% set more = h.more_like_this(pkg, 4) %}
  {% if more %}
  <h3>More like this ({{ more|length }})</h3>
  <div class="row">
    {% for dataset in more %}
    <div class="col-md-3 mlt">
        <div class="inner">
        <a href="{{ h.url_for(controller='package', action='read', id=dataset['name']) }}">
            {{ dataset['title'] }}
        </a>
        <br/>
        </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}

  {% endblock %}