{% ckan_extends %}
{% import 'macros/form.html' as form %}

{% set sorting = [
  (_('Relevance'), 'score desc, metadata_modified desc'),
  (_('Name Ascending'), 'name asc'),
  (_('Name Descending'), 'name desc'),
  (_('Last Modified'), 'metadata_modified desc'),
  (_('Popular'), 'views_recent desc') if g.tracking_enabled else (false, false) ]
%}

{% block subtitle %}{{ _("Datasets") }}{% endblock %}

{% block toolbar %}
  <div class="searchby row">
    <div class="separate-search module-content">
      {% snippet 'snippets/search_form.html', form_id='dataset-search-form', type=dataset_type, query=c.q, sorting=sorting, sorting_selected=c.sort_by_selected, count=c.page.item_count, placeholder=_('Enter a search term'), facets=facets, show_empty=request.params, error=c.query_error, fields=c.fields, title=_('Search for data') %}
    </div>
  </div>
{% endblock %}


{% block form %}
{% if c.page.item_count == 0 %}
  Your search did not match any records. Please try again with a different search.
{% else %}
  <div class="row search-count">
    <div class="col-md-8 col-sm-12">
      <div class="form-inline">
        <p class="form-control-static">Showing <strong>{{ h.item_range(c.page) }}</strong> of <strong>{{ h.SI_number_span(c.page.item_count) }}</strong> record{{ h.plural("s", c.page.item_count)}}</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="form-inline">
         <div class="form-select form-group control-order-by">
          <label for="dataset-sort">{{ _('Order by') }}</label>
          <select id="dataset-sort" class="form-control input-sm">
            {% for label, value in sorting %}
              {% if label and value %}
                <option value="{{ value }}"{% if c.sort_by_selected == value %} selected="selected"{% endif %}>{{ label }}</option>
              {% endif %}
            {% endfor %}
          </select>
          <button class="btn btn-default js-hide" type="submit">{{ _('Go') }}</button>
         </div>
      </div>
    </div>
  </div>
{% endif %}
{% endblock %}

{% block secondary_content %}
<div class="filters">
  <div>
    <h2>FILTERS</h2>

    {{ h.snippet('snippets/custom_facet_items.html')}}

    {% for facet in c.facet_titles %}
      {% if not facet in ['groups', 'tags'] %}
        {{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], name=facet) }}
      {% endif %}
    {% endfor %}
  </div>
  <a class="close no-text hide-filters"><i class="fa fa-times-circle"></i><span class="text">close</span></a>
</div>
{% endblock %}

