{% ckan_extends %}

{% block secondary_content %}

{% snippet "spatial/snippets/spatial_query.html", default_extent="[[49.82380908513249, -10.8544921875], [59.478568831926395, 2.021484375]]" %}

<div class="filters">
  <div>
    {% for facet in c.facet_titles %}
      {% if not facet in ['groups'] %}
        {{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], name=facet) }}
      {% endif %}
    {% endfor %}
  </div>
  <a class="close no-text hide-filters"><i class="fa fa-times-circle"></i><span class="text">close</span></a>
</div>
{% endblock %}

