{% ckan_extends %}

{% block heading %}
    {% if not organization.image_display_url %}
        <a style="font-size: large;" href="/publisher/{{organization.name}}">{{ organization.title }}
        {% if organization.state == 'deleted' %}
            [{{ _('Deleted') }}]
        {% endif %}
        </a>
    {% endif %}
{% endblock %}

{% block image %}
  {% if organization.image_display_url %}
    <div class="image">
        <a href="{{ url }}">
          <img src="{{ organization.image_display_url or h.url_for_static('/base/images/placeholder-organization.png') }}" width="200" alt="{{ organization.title }}" title="{{ organization.title }}" />
        </a>
    </div>
  {% endif %}
{% endblock %}

{% block description %}
    {% if organization.description %}
        <p>
          {{ h.markdown_extract(organization.description, 180) }}
          {% link_for _('read more'), controller='organization', action='about', id=organization.name %}
        </p>
    {% endif %}
{% endblock %}