{#
    Displays a single of dataset.

    package        - A package to display.
    item_class     - The class name to use on the list item.
    hide_resources - If true hides the resources (default: false).
    banner         - If true displays a popular banner (default: false).
    truncate       - The length to trucate the description to (default: 180)
    truncate_title - The length to truncate the title to (default: 80).

    Example:

      {% snippet 'snippets/package_item.html', package=c.datasets[0] %}

    #}
{% set truncate = truncate or 300 %}
{% set truncate_title = truncate_title or 80 %}
{% set title = package.title or package.name %}
{% set notes = h.markdown_extract(package.notes, extract_length=truncate) %}

{% block package_item %}
  <li class="{{ item_class or "dataset-item" }}">
    {% block content %}
      {% if h.is_private_resource(package) %}
        <span class="label label-default pull-right">{{ _('Private') }}</span>
      {% endif %}

      <div class="dataset-content {% if h.is_reference_dataset(package) %}reference-dataset{% endif %}">
        {% block heading %}
          <h3 class="dataset-heading">
            {% block heading_private %}
              {% if package.private %}
                <span class="dataset-private label label-inverse">
                        <i class="fa fa-lock"></i>
                        {{ _('Private') }}
                    </span>
              {% endif %}
              {% if h.is_reference_dataset(package) %}
                <span class="label label-blue">REFERENCE</span>
              {% endif %}
              {% if h.is_gdpr_dataset(package) %}
                <span class="label label-red">GDPR</span>
              {% endif %}
            {% endblock %}
            {% block heading_title %}
              {{ h.link_to(h.truncate(title, 100), h.url_for(package.type + '_read', controller='package', action='read', id=package.name)) }}
              <h3 class="dataset-heading dataset-publisher-heading">
                {% if package.get('organization') %}
                  Published by {{ h.link_to(package.get('organization').get('title'), h.url_for('organization_read', controller='organization', action='read', id=package.organization.name)) }}
                {% endif %}
              </h3>
            {% endblock %}
            {% block heading_meta %}
              {% if package.get('state', '').startswith('draft') %}
                <span class="label label-info">{{ _('Draft') }}</span>
              {% elif package.get('state', '').startswith('deleted') %}
                <span class="label label-danger">{{ _('Deleted') }}</span>
              {% endif %}
              {{ h.popular('recent views', package.tracking_summary.recent, min=10) if package.tracking_summary }}
            {% endblock %}
          </h3>
        {% endblock %}

        {% block banner %}
          {% if banner %}
            <span class="banner">{{ _('Popular') }}</span>
          {% endif %}
        {% endblock %}
        {% block notes %}
          {% if notes %}
            <div>{{ notes|urlize }}</div>
          {% else %}
            <p class="empty">{{ _("This dataset has no description") }}</p>
          {% endif %}
        {% endblock %}
      </div>
      {% block resources %}
        {% if package.resources and not h.is_reference_dataset(package) and h.dict_list_reduce(package.resources, 'format') %}
          {% block resources_outer %}
            <div class="mdf-dataset-resources">
              Available Data Types:&nbsp;
              {% block resources_inner %}
                {% for resource in h.dict_list_reduce(package.resources, 'format') %}
                  <a href="{{ h.url_for(controller='package', action='read', id=package.name) }}" class="label label-default">{{ resource.upper() }}</a>
                  &nbsp;
                {% endfor %}
              {% endblock %}
            </div>
          {% endblock %}
        {% endif %}
      {% endblock %}
      <div class="mdf-dataset-modified">
        Modified: {{ h.render_datetime(package.metadata_modified, with_hours=False) }}
      </div>
    {% endblock %}
  </li>
  <hr />
{% endblock %}


