{% ckan_extends %}


{% block groups_search_form %}
{% endblock %}

{% block secondary %}
{% endblock %}

{% block toolbar %}
<div class="searchby row">
    <div class="separate-search module-content">
      {% snippet 'snippets/search_form.html', form_id='dataset-search-form', type='dataset', query=c.q, sorting=sorting, sorting_selected=c.sort_by_selected, count=c.page.item_count, facets=facets, show_empty=request.params, error=c.query_error, fields=c.fields, placeholder="Enter keywords to search for data" %}
    </div>
  </div>
{% endblock %}

{% block primary %}
<div class="primary col-md-12 col-sm-12 col-xs-12">
  {% block primary_content %}
    <div class="result-border row">
        {% set total = c.page.collection|length %}
        <h2>{{ total }} Collection{{ 's' if total > 1 }} </h2>
        {{ super() }}
    </div>
  {% endblock %}
</div>
{% endblock %}