{% ckan_extends %}


{% block groups_search_form %}
{% endblock %}

{% block secondary %}
{% endblock %}

{% block toolbar %}
  <div class="searchby row">
    <ul class="nav nav-tabs">
      <li>
        <a href="/dataset">Datasets</a>
      </li>
      <li class="active">
          <a href="/group">Collections</a>
      </li>
      <li>
        <a href="/publisher">Publishers</a>
      </li>
    </ul>
  </div>
{% endblock %}

{% block primary %}
<div class="primary col-md-12 col-sm-12 col-xs-12">
  {% block primary_content %}
    <div class="result-border row">
        {% set total = c.page.collection|length %}
        <h2>{{ total }} Collection{{ 's' if total > 1 }} </h2>
        {{ super() }}
    </div>
  {% endblock %}
</div>
{% endblock %}