{% extends "page.html" %}


{%- block content %}
<div role="main">
    <div id="content" class="container">
        <div class="toolbar">
            <ol class="breadcrumb">
                {% snippet 'snippets/home_breadcrumb_item.html' %}
                <li><a href="/collection">Collections</a></li>
                <li class="active"><a href="/collection/climate">Bathymetry</a></li>
            </ol>
        </div>

        <div class="row">
            <h1>Bathymetry collection</h1>
            <div class="col-md-9">
                <p>
                    <strong>Authors:</strong>
                    Author one (Defra), Author Two (Natural England)
                </p>

                <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a pellentesque nulla. Vestibulum molestie turpis nec dui ultrices, non ornare nibh euismod. Duis auctor id erat in rutrum. Duis accumsan interdum nulla, vel faucibus turpis pretium id. Sed egestas magna leo, ac mollis sem consectetur eget. Maecenas neque lacus, ultrices elementum ultricies sed, tincidunt sit amet mauris. Fusce id lobortis magna. Maecenas dignissim lectus sit amet venenatis dapibus. Nam mollis scelerisque bibendum.
                </p>

                <ul class="dataset-list list-unstyled collection">
                    {{ h.snippet('snippets/package_item.html',package=c.package1)}}
                </ul>

                <p>
                In sed placerat urna. Phasellus volutpat nunc tellus, in posuere ligula efficitur venenatis. Phasellus ut nulla non tortor finibus efficitur eu non ipsum. Aliquam semper tempus nisl in scelerisque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non cursus libero, quis volutpat dolor. Vestibulum eget ultricies nisl. Morbi condimentum ultricies sagittis.
                </p>

                <img src="/images/climate-flood.png" width="100%" style="margin-bottom: 20px;">

                <p>
                Sed eget bibendum sem, eget bibendum felis. In hac habitasse platea dictumst. Praesent rutrum turpis non purus varius, posuere bibendum ligula cursus. Ut in tincidunt neque. Aliquam eget lectus sollicitudin, laoreet sapien id, lacinia dolor. Maecenas velit nunc, tincidunt eu efficitur ac, porttitor a elit. Nullam sollicitudin odio at neque malesuada maximus. Integer ac luctus quam. Suspendisse dictum velit vel molestie sagittis. Donec vel cursus augue. Sed non tellus id lorem condimentum volutpat in eu diam. Aenean eleifend tincidunt turpis, non sodales nisl molestie eu. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi vestibulum sit amet tellus vel consectetur. Donec blandit semper efficitur.
                </p>

                <ul class="dataset-list list-unstyled collection">
                    {{ h.snippet('snippets/package_item.html',package=c.package2)}}
                </ul>

                <p>
                Ut mattis est nisi, sed malesuada arcu interdum eget. Cras non vehicula erat. Etiam scelerisque maximus convallis. Aliquam ultrices mi est, vel hendrerit turpis vehicula id. Maecenas urna orci, dapibus eu laoreet sed, aliquet non enim. Fusce interdum, augue quis gravida egestas, libero lectus porta tellus, id scelerisque ipsum quam sed neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla et ante vitae augue molestie maximus ac vitae sapien. Nunc convallis gravida eleifend. Praesent gravida a quam eu consectetur. Sed in urna semper ipsum mattis lacinia. In in aliquam lacus. Suspendisse mattis dictum velit nec cursus. Phasellus maximus, justo eu maximus ultricies, tortor augue malesuada quam, in bibendum diam mi a erat. Mauris placerat, metus et porttitor rhoncus, libero libero tempus justo, eu porttitor leo justo ac dui. Nunc vel ex porttitor nibh blandit auctor id ac erat.
                </p>

                <p>
                Sed sapien leo, laoreet cursus mi quis, convallis elementum velit. Nam lacinia euismod erat. Phasellus pellentesque ut nisl quis efficitur. Nullam massa nibh, mollis quis justo eget, tristique eleifend urna. Nullam vitae lorem eget elit ultricies ullamcorper. Etiam sit amet lacinia felis. Vestibulum iaculis finibus purus. Fusce venenatis et mauris vel pharetra. Suspendisse nisi purus, dictum ac semper at, rhoncus ut mauris. Sed luctus vestibulum libero, quis cursus tellus aliquet imperdiet. Aliquam erat volutpat. Sed blandit nisl nec ligula porta, non elementum est fermentum. Praesent quis hendrerit libero, vel pretium eros. Donec neque quam, bibendum sed varius sit amet, efficitur eget eros. Aliquam commodo quam nec lectus aliquet rutrum nec vulputate augue. Mauris pulvinar ullamcorper mattis.
                </p>

                <ul class="dataset-list list-unstyled collection">
                    {{ h.snippet('snippets/package_item.html',package=c.package3)}}
                </ul>

                <p>
                Nam a tellus vel lectus tempor porttitor id nec lacus. Suspendisse faucibus pharetra tincidunt. In hendrerit imperdiet felis nec vehicula. Cras nec sagittis ante. Sed luctus aliquet nisi, nec eleifend est interdum id. Nulla ac justo a mi ultricies dictum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus dapibus risus in fermentum fermentum. Fusce ultrices orci condimentum dolor condimentum, ut iaculis enim tincidunt. Nunc nisl metus, scelerisque id metus sed, porttitor tempor sapien. Mauris non nulla commodo, venenatis mi eu, accumsan justo. Donec non mattis urna, ac consectetur enim. Quisque eu scelerisque erat. Sed ullamcorper justo quam, ut blandit libero pellentesque a. Cras eleifend ligula vitae lacus euismod commodo.
                </p>

                <p>
                Nullam ullamcorper arcu et magna varius, sit amet placerat neque maximus. Aliquam vitae congue sem. Suspendisse potenti. Nam pellentesque libero vitae est condimentum pulvinar. Aliquam ac egestas urna, vitae semper sapien. Duis ac purus nisi. Nam nec volutpat massa, et dignissim ipsum. Pellentesque ipsum ligula, ullamcorper nec ante ut, fringilla aliquet mauris.
                </p>

                <p>
                Ut volutpat dignissim elit. Praesent commodo, urna in semper tincidunt, justo metus aliquet quam, a dictum nisl turpis in ante. Proin lobortis lacus ac magna varius lobortis. Donec non elit venenatis, cursus tellus at, lobortis tellus. Curabitur cursus quis est in venenatis. Aenean vel aliquam sapien. Curabitur semper est volutpat malesuada condimentum. Aliquam dapibus arcu justo, non commodo nunc vulputate eget. Nam ac ligula a diam cursus fringilla. Suspendisse laoreet neque et sem dictum molestie.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}