/* Layout  */
.account-masthead, .navbar, .site-footer, .module-search {
  background-image: none;
  background-color: #fff;
  color:#333;
}

.account-masthead .account ul li  a { color: #333;}
.header-image {
  margin-top: -30px;
}

.hero { 
  min-height: 0;
}


body {
  font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serifm;
  font-size: 16px;
  background: none;
  background-color: #fff; 
  color: #333;
  padding-bottom: 124px;   /* Height of the footer */
}

[role=main] {
  background-color: #fff;
  background-image: none;
}

.masthead .navigation .nav-pills li a {
  background-color: #015e23;
}

.masthead .navigation .nav-pills li.active a,
.masthead .navigation .nav-pills li a:hover {
  background-color: rgb(0, 163, 59);
}

.header-logo {
  font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
  font-weight: normal;
  font-size: 24px;
  position: absolute;
  bottom: 10px;
}

a.btn-primary, a.btn-primary:hover, a.btn-primary:visited {
  background-color: green; 
  background-image: none;
}

li a{ 
  color: #333;
}

/* Homepage  */

.homepage {
  min-height: 800px;
}

.hero {
  background-image: none;
}

.homepage .module-search .module-content {
  background-color:rgb(0, 163, 59);
}

.homepage .module-search .tags {
  background-color: #015e23;
}


.publisher-image {
  float: left;
  padding-right: 20px;
}

#footer,.site-footer {
  background-image: none;
  color: #333;
  background-color: #fff;
}

.site-footer a {
  color: #333;
}

.media-grid {
  background-image:none;
  background-color: #fff;
  border: none;
}

li.media-item {
  width: 100%;
  margin-left: 0;
}

.activity a {
  font-weight: 700;
}