/* Layout  */
.account-masthead, .navbar, .site-footer, .module-search {
  background-image: none;
  background-color: #fff;
  color:#333;
}

a.btn-primary {
  background-color: #2fa450 !important;
  color: #fff !important;
}

.account-masthead .account ul li {
  border-left: none;
}

.account-masthead .account ul li  a { color: #333; margin-top: 10px;  }
.header-image {
  margin-top: -30px;
}

.hero {
  min-height: 0;
}


body {
  font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serifm;
  font-size: 16px;
  background: none;
  background-color: #fff;
  color: #333;
  padding-bottom: 124px;   /* Height of the footer */
}

[role=main] {
  background-color: #fff;
  background-image: none;
}

.masthead .navigation .nav-pills li a {
  background-color: #015e23;
}

.masthead .navigation .nav-pills li.active a,
.masthead .navigation .nav-pills li a:hover {
  background-color: rgb(0, 163, 59);
}

.nav-tabs > li.active > a:hover {
  background-color: rgb(246, 246, 246);
}

.header-logo {
  font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
  font-weight: normal;
  font-size: 24px;
  position: absolute;
  bottom: 10px;
}

a.btn-primary, a.btn-primary:hover, a.btn-primary:visited {
  background-color: green;
  background-image: none;
}

li a{
  color: #333;
}

/* Homepage  */

.homepage {
  min-height: 800px;
}

.hero {
  background-image: none;
}

.homepage .module-search .module-content {
  background-color:rgb(0, 163, 59);
}

.homepage .module-search .tags {
  background-color: #015e23;
}


.publisher-image {
  float: left;
  padding-right: 20px;
}

#footer,.site-footer {
  background-image: none;
  color: #333;
  background-color: #fff;
}

.site-footer a {
  color: #333;
}

.media-grid {
  background-image:none;
  background-color: #fff;
  border: none;
}

.media-item {
  min-height: 240px;
}

.media-heading {
  word-break: normal;
  white-space: normal;
  overflow-wrap: normal;
}

.publisher-image .media-image {
  width: 100%;
  text-align: center;
}
.publisher-image {
  width: 100%;
  padding-right: 0;
}
.organization-package-count {
  position: absolute;
  bottom: 0;
}

.activity a {
  font-weight: 700;
}

.dataset-publisher-heading {
  color: #999;
  margin-top: -8px;
  font-size: smaller;
}

.dataset-publisher-heading a {
  color: #999;
}

.dataset-details dt, .dataset-details dd { float: left }
.dataset-details dt { clear:both; }
.dataset-details dd {  margin-left: 20px; }

.small-search {
  min-width: 200px;
}

.context-info h1.heading {
  word-break: normal;
  white-space: normal;
  overflow-wrap: normal;
}

.item-count.badge {
  float: right;
  margin-right: 8px;
}

.module .read-more {
  font-weight: normal;
  font-size: smaller;
}

.wrapper {
  box-shadow: none;
  border: none;
}

.searchby ul li.active a {
  background-color: rgb(246, 246, 246);
  font-weight: bold;
}
.separate-search {
  background-color: rgb(246, 246, 246);
  padding: 20px;
  padding-bottom: 0;
}

.tags a.tag {
  background-color: #2fa450;
  border: none;
  border-radius: 6px;
  color: #fff;
}

.search-input-group .input-group-btn button.btn.btn-default {
  margin-top: 26px;
  padding-bottom: 8px;
  color: #2fa450;
}

.search-form {
  padding-bottom: 0;
}

.search-form .search-input-group {
  margin-bottom: 0;
}

.dataset-heading a {
  color: #2fa450;
}

div.site-title {
  float:left;
  margin-left: 40px;
}

div.site-title h1 {
  font-weight: 400;
}

.map-based-search {
  min-height: 480px;
  background-color: #ddd;
}

.map-instructions {
  float: left;
  width: 33%;
}

div.tags {
  margin-left: 20px;
  display: inline;
}

label::after {
  content: ""
}

.nav-item.active > a {
  background-color: #2fa450;
}

.location-cb label {
  padding-left: 0;
}

div.location-search {
  padding-bottom: 20px;
}

/* Map */
.module-narrow #dataset-map-container {
  height: 200px;
}
#dataset-map-container {
  height: 480px;
}
#dataset-map-attribution {
  font-size: 11px;
  line-height: 1.5;
}
.module-heading .action {
  float: right;
  color: #888888;
  font-size: 12px;
  line-height: 20px;
  text-decoration: underline;
}
.module-narrow #dataset-map-attribution {
  margin: 5px 8px;
  color: #666;
}
.leaflet-draw-label-single {
  display: none;
}
.leaflet-draw-label-subtext {
  display: none;
}
#field-location {
  width: 190px;
}
.select2-results .select2-no-results {
  padding: 3px 6px;
}
#dataset-map-edit {
  margin: 5px 8px;
}
#dataset-map-edit-buttons {
  display: none;
}
.leaflet-draw-toolbar a.leaflet-draw-draw-rectangle {
  background-image: url("/images/pencil.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 12px 12px;
  border-radius: 4px;
}
.leaflet-draw-actions li {
  display: none;
}
.dataset-map-expanded #dataset-map {
  position: relative !important;
  width: 100%;
  height: 480px;
  top: 0;
  background-color: white;
  border: 1px solid #CCC;
  margin: 0;
}
.dataset-map-expanded #dataset-map #dataset-map-container {
  height: 480px;
}
.dataset-map-expanded #dataset-map #dataset-map-attribution {
  *zoom: 1;
}
.dataset-map-expanded #dataset-map #dataset-map-attribution:before,
.dataset-map-expanded #dataset-map #dataset-map-attribution:after {
  display: table;
  content: "";
  line-height: 0;
}
.dataset-map-expanded #dataset-map #dataset-map-attribution:after {
  clear: both;
}
.dataset-map-expanded #dataset-map #dataset-map-attribution div {
  float: left;
  margin-right: 10px;
}
.dataset-map-expanded #dataset-map #dataset-map-edit-buttons {
  display: block;
  float: right;
  padding: 10px;
}
.dataset-map-expanded #dataset-map #dataset-map-edit {
  display: none;
}
.dataset-map-expanded #dataset-map .module-heading {
  border-top-color: #000;
}
.dataset-map-expanded .wrapper {
  margin-top: 0;
}

#dataset-map .module-heading {
  display: none;
}

.module-content #dataset-map-container {
  height: 480px;
}

.result-border {
  padding: 8px;
  margin-top: 20px;
  border: solid 1px #ddd;
}

.result-border h2 {
  margin-left: 30px;
  margin-bottom: 0;
}

div.normal {
  padding: 4px;
  font-weight: normal;
  font-size: 14px;
  width: 208px;
}

img.side-image {
  width: 200px;
  margin-bottom: 8px;
}