/* Layout  */
.account-masthead, .navbar, .site-footer, .module-search {
  background-image: none;
  background-color: #fff;
  color:#333;
}

.account-masthead .account ul li  a { color: #333;}
.header-image {
  margin-top: -30px;
}

.hero {
  min-height: 0;
}


body {
  font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serifm;
  font-size: 16px;
  background: none;
  background-color: #fff;
  color: #333;
  padding-bottom: 124px;   /* Height of the footer */
}

[role=main] {
  background-color: #fff;
  background-image: none;
}

.masthead .navigation .nav-pills li a {
  background-color: #015e23;
}

.masthead .navigation .nav-pills li.active a,
.masthead .navigation .nav-pills li a:hover {
  background-color: rgb(0, 163, 59);
}

.header-logo {
  font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
  font-weight: normal;
  font-size: 24px;
  position: absolute;
  bottom: 10px;
}

a.btn-primary, a.btn-primary:hover, a.btn-primary:visited {
  background-color: green;
  background-image: none;
}

li a{
  color: #333;
}

/* Homepage  */

.homepage {
  min-height: 800px;
}

.hero {
  background-image: none;
}

.homepage .module-search .module-content {
  background-color:rgb(0, 163, 59);
}

.homepage .module-search .tags {
  background-color: #015e23;
}


.publisher-image {
  float: left;
  padding-right: 20px;
}

#footer,.site-footer {
  background-image: none;
  color: #333;
  background-color: #fff;
}

.site-footer a {
  color: #333;
}

.media-grid {
  background-image:none;
  background-color: #fff;
  border: none;
}

.media-item {
  min-height: 240px;
}

.media-heading {
  word-break: normal;
  white-space: normal;
  overflow-wrap: normal;
}

.publisher-image .media-image {
  width: 100%;
  text-align: center;
}
.publisher-image {
  width: 100%;
  padding-right: 0;
}
.organization-package-count { 
  position: absolute;
  bottom: 0;
}

.activity a {
  font-weight: 700;
}

.dataset-publisher-heading {
  color: #999;
  margin-top: -8px;
  font-size: smaller;
}

.dataset-publisher-heading a {
  color: #999;
}

.dataset-details dt, .dataset-details dd { float: left }
.dataset-details dt { clear:both; }
.dataset-details dd {  margin-left: 20px; }

.small-search {
  min-width: 200px;
}

.context-info h1.heading {
  word-break: normal;
  white-space: normal;
  overflow-wrap: normal;
}

.item-count.badge {
  float: right;
  margin-right: 8px;
}

.module .read-more {
  font-weight: normal;
  font-size: smaller;
}

.wrapper {
  box-shadow: none;
  border: none;
}

.searchby ul li.active a {
  background-color: rgb(246, 246, 246);
  font-weight: bold;
}
.separate-search {
  background-color: rgb(246, 246, 246);
  margin-bottom: 20px;
  padding: 20px;
  padding-bottom: 0;
}

.tags a.tag {
  background-color: #2fa450;
  border: none;
  border-radius: 6px;
  color: #fff;
}

.search-input-group .input-group-btn button.btn.btn-default {
  margin-top: 26px;
  padding-bottom: 8px;
  color: #2fa450;
}

.dataset-heading a {
  color: #2fa450;  
}

div.site-title {
  float:left; 
  margin-left: 40px;
}

div.site-title h1 {
  font-weight: 400;
}

.map-based-search {
  min-height: 480px;
  background-color: #ddd;
}